html{
    font-size: 16px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration:none;
}
header{
    background: white;
}

#logo {
    max-width: 50%;
    height: auto;
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#navegacion{
    text-align: center;
    margin-top:1rem;
    padding: 1rem;
    background-color: rgb(0,150,96);
}

nav ul li{
    display: inline;
    font-size: 18px;
    border: 3px solid red;
    border-radius: 15px;
    background-color: aliceblue;
    margin:1rem;
    padding-left: 1vw;
    padding-right: 1vw;
}

.linksfooter{
    text-align:center;
}

#mainGrid{

padding: 2vw;
height: 70vh;
display: grid;
    
    justify-content: center;
    grid-gap: 1rem;
    grid-template-columns: auto; 
    grid-template-rows:10vh, 30vh, 20vh;
    grid-template-areas:
        "Alim  Merca Bazar"
        "Alim  Merca Bazar"
        "Alim  Merca Bazar";
  
    background-color: rgba(0, 8, 20,0.2);

  }

    #alimentacioGrid{
    grid-area: Alim;
    padding: 1vw;
    width: auto;
    height: 62vh;
    display: grid;
        grid-gap: 1vh;
        justify-items: center;
        align-items: center;
        grid-template-columns: 30vw;
        grid-template-rows: 10vh 30vh 20vh ;

        grid-template-areas:
        "textAlim"
        "fotoAlim"
        "descAlim";

    background-color: rgba(0, 8, 20,0.2);

       
   
    }

        .textAlimentacio{
            grid-area: textAlim;
            
            font-size: 34px;
            font-family: 'Fira Sans', sans-serif;
            text-align: center;
        }
        
        .FotoAlimentacio{
            grid-area: fotoAlim;
            width: 30vw;
            height: 30vh;
        
            background-image: url(../img/img-compra/Compra.webp);
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        .descAlimentacio{
            grid-area: descAlim;
            text-align: center;
        }


    #bazarGrid{
    grid-area: Bazar;
    padding: 1vw;
    height: 62vh;   
    width: auto;

    display: grid;
        justify-items: center;
        align-items: center;
        grid-gap: 1vh;
        grid-template-columns:auto; 
        grid-template-rows: 10vh 30vh 20vh;
        grid-template-areas:
        
        "textBazar"
        "fotoBazar"
        "descBazar";

    background-color: rgba(0, 8, 20,0.2);;
  
    }

        .textBazar{
            grid-area: textBazar;

            font-size: 34px;
            font-family: 'Fira Sans', sans-serif;
            text-align: center;
        }

        .FotoBazar{
            grid-area: fotoBazar;
            width: 30vw;
            height: 30vh;

            background-image: url(../img/img-compra/bazar.webp);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .descBazar{
            grid-area: descBazar;
            text-align: center;

        }

    #mercaTinderGrid{
        grid-area: Merca;
        padding: 1vw;
        width: auto;
        height: 62vh;
        display: grid;
            grid-gap: 1vh;
            align-items: center;
            justify-items: center;
            grid-template-columns:auto;
            grid-template-rows: 10vh 30vh 20vh;;
    
            grid-template-areas:
            "textMercaTinder"
            "fotoMercaTinder"
            "descMercaTinder";
    
        background-color: rgba(0, 8, 20,0.2);
    
    }
        .textMercaTinder{
            grid-area: textMercaTinder;

            font-size: 34px;
            font-family: 'Fira Sans', sans-serif;
            text-align: center;
        }

        .FotoMercaTinder{
            grid-area: fotoMercaTinder;
            width: 25vw;
            height: 30vh;

            background-image: url(../img/img-compra/MercaTindePH.webp);
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .descMercaTinder{
            grid-area: descMercaTinder;
            text-align: center;

        }

/**Animacions**/

.shadowHover{
    box-shadow: 0px 0px 0px gray;
    transition: box-shadow 1s;
    transition-property: all;
}

.shadowHover:hover{
box-shadow: 10px 10px 5px gray;
}