html{
    font-size: 16px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    
    
}
a{
    text-decoration:none;
}
header{
    background: white;
}

#logo {
    max-width: 50%;
    height: auto;
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#navegacion{
    text-align: center;
    margin-top:1rem;
    padding: 1rem;
    background-color: rgb(0,150,96);
}

nav ul li{
    display: inline;
    font-size: 18px;
    border: 3px solid red;
    border-radius: 15px;
    background-color: aliceblue;
    margin:1rem;
    padding-left: 1vw;
    padding-right: 1vw;
}

.linksfooter{
    text-align:center;
}

@media (max-width: 480px) { /**Mobile**/
#mainGrid{
    width: 95vw;
    padding: 2vw;
    grid-gap: 2vw;
    grid-template-columns: 46vw 46vw; 
    grid-template-rows:auto;
    grid-template-areas:
        "Alim Bazar "
        "Alim Bazar "
        "Merca Merca ";
}

.subGrid{
    grid-template-columns: auto;
    display: grid;
    padding: 2vw;
    height: 50vh;
    grid-gap: 1vh;
}

        #alimentacioGrid{
            height: 41vh;
            grid-template-rows: 10vh 30vh;
            grid-template-areas:
                "textAlim"
                "fotoAlim";
        }

        #bazarGrid{
            height: 41vh;
            grid-template-rows: 10vh 30vh;
            grid-template-areas:
                "textBazar"
                "fotoBazar";
        }

        #mercaTinderGrid{
            height: 20vh;
            grid-template-areas:
            "textMercaTinder fotoMercaTinder";
        }

        .titleGrid{
            font-size: 20px;
        }

    .fotoGrid{
        width: 40vw;
        height: 30vh;
    }
    
        #FotoMercaTinder{
            width: 30vw;
            height: 20vh;
        }


    #descMercaTinder{
        display:none;
    }
    #descBazar{
        display:none;
    }
    #descAlimentacio{
        display:none;
    }
}

@media (min-width: 481px) and (max-width: 768px) { /**Tablet**/
    #mainGrid{
        width: 95vw;
        padding: 2vw;
        grid-gap: 2vw;
        grid-template-columns: 46vw 46vw; 
        grid-template-rows:auto;
        grid-template-areas:
            "Alim Bazar "
            "Alim Bazar "
            "Merca Merca ";
    }
    
    .subGrid{
        grid-template-columns: auto;
        display: grid;
        padding: 2vw;
        height: 50vh;
        grid-gap: 1vh;
    }
    
            #alimentacioGrid{
                height: 41vh;
                grid-template-rows: 10vh 30vh;
                grid-template-areas:
                    "textAlim"
                    "fotoAlim";
            }
    
            #bazarGrid{
                height: 41vh;
                grid-template-rows: 10vh 30vh;
                grid-template-areas:
                    "textBazar"
                    "fotoBazar";
            }
    
            #mercaTinderGrid{
                height: 20vh;
                grid-template-areas:
                "textMercaTinder fotoMercaTinder";
            }
    
            .titleGrid{
                font-size: 20px;
            }
    
        .fotoGrid{
            width: 40vw;
            height: 30vh;
        }
        
            #FotoMercaTinder{
                width: 30vw;
                height: 20vh;
            }
    
    
        #descMercaTinder{
            display:none;
        }
        #descBazar{
            display:none;
        }
        #descAlimentacio{
            display:none;
        }
}

@media (min-width: 769px){ /*Laptop*/
    #mainGrid{
        width: auto;
        height: auto;

        padding: 1vw;
        padding: 3vh;
        padding-bottom: 3vh;
        
        grid-template-columns: auto; 
        grid-template-rows:auto;
        grid-gap: 1vw;

        grid-template-areas:
            "Alim  Merca Bazar"
            "Alim  Merca Bazar"
            "Alim  Merca Bazar";
        }

    .subGrid{
        width: auto;
        height: 62vh;

        padding: 1vw;

        display: grid;

        grid-template-columns: auto;
        grid-template-rows: 10vh 30vh 20vh;
        grid-gap: 1vh;

    }

        #alimentacioGrid{
            grid-template-areas:
                "textAlim"
                "fotoAlim"
                "descAlim";
        }

        #bazarGrid{
            grid-template-areas:
                "textBazar"
                "fotoBazar"
                "descBazar";
        }

        #mercaTinderGrid{
            width: 20vw;

            grid-template-columns: 20vw;

            grid-template-areas:
                "textMercaTinder"
                "fotoMercaTinder"
                "descMercaTinder";
        }

    .titleGrid{
        max-width: 30vw;
        font-size: 2.5vw ;   
        
    }


    .fotoGrid{
        width: 30vw;
        height: 30vh;

    
        
    }


}




#mainGrid{
    display: grid;
    justify-content:center;
    background-color: rgb(227, 246, 255);

  }


.subGrid{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 8, 20,0.2);    
}
    #alimentacioGrid{grid-area: Alim;}
    #bazarGrid{grid-area: Bazar;}
    #mercaTinderGrid{grid-area: Merca;}


.titleGrid{
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
     
}
    #titleAlimentacio{grid-area: textAlim;}
    #titleBazar{grid-area: textBazar;}    
    #titleMercaGraica{grid-area: textMercaTinder;}
 

.fotoGrid{
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    
}    
    #FotoAlimentacio{
         grid-area: fotoAlim;
         background-image:  url(../img/img-compra/Compra.webp);
    }
        
    #FotoBazar{
        grid-area: fotoBazar;
        background-image: url(../img/img-compra/bazar.webp);
    }

    #FotoMercaTinder{
        grid-area: fotoMercaTinder;  
        background-image: url(../img/img-compra/MercaTindePH.webp);  
    }

    .descGrid{
        text-align: center;
    }
    
        #descMercaTinder{
            grid-area: descMercaTinder;
            
        }

        #descAlimentacio{
            grid-area: descAlim;
           
        }
        #descBazar{
            grid-area: descBazar;
            
        }

/**Animacions**/

.subGrid{
    box-shadow: 0px 0px 0px rgb(141, 203, 230);
    transition: box-shadow 1s;
    transition-property: all;
}

.subGrid:hover{
background-color: rgba(0, 8, 20,0.1);
box-shadow: 10px 12px 5px rgb(141, 203, 230);

}

/** ============================================= **/
/** ======= Selection Alimentacio & Bazar ======= **/
/** ============================================= **/

/**Responsibe**/



#sectionAlimentacio{
    display: flex;
    justify-content: center ;
    flex-direction: column;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

    margin-top: 10rem;
    padding: 2vw;

    
    
}

#sectionBazar{
    display: flex;

    justify-content: center ;
    flex-direction: column;

    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

    margin-top: 10rem;
    padding: 2vw;
}

.Header{
    display: block;
    
    font-size: 10vw;
    text-align:start;
    text-shadow: 2px 2px 5px lightgrey;

    border-bottom: 0.4vw solid black;
}

.showCase{
    display: grid;

    grid-template-columns: max-content max-content max-content;

    justify-content: center;
    row-gap: 2vw;
    column-gap: 1.3rem;
   

    margin: 3rem 2rem 3rem 2rem;
}


    div.producte { /**Objecte**/
        justify-self: stretch;
        display: grid;
        
        width: 20vw;
        max-height: 21vw;

        margin: 0.5rem 0.2rem 0.5rem 0.2rem;
        grid-template-rows: 20vw;

        grid-template-areas:
                "img des "
                "buy buy "
                ;
            
    }
  
        div.producte img { /**Imagte**/
            grid-area: img;

            width: 20vw;
            height: 20vw;

            border: 2px solid lightgray;
            border-right: 0px;
            
            transition: all 1s;
        }

        div.buyBox{/**BuyBotton**/
            grid-area: buy;

            display: flex;

            flex-direction: column;
            align-items: center;

            min-width: 20vw;
            z-index: 1;

            background-color: white;

            border: 2px solid lightgray;
            border-top: 0px;

            padding-bottom: 0em;

            transition: all 1s;
        }
            div.buyBox > button{
                width: 90%;
                height: 2vw;

                background-color: rgb(255, 242, 0);
                
                font-size: 1em;
                font-weight: bold;

                border: none;
                margin: 0.5em;
                
            }

    .descBox{
    grid-area: des;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 0vw;
    max-height: 20vw;

    z-index: 8;
 
    background-color: white;
    color: white;

    border: 2px solid lightgray;
    border-left: 0px;
    border-bottom: 0px;

    transition: all 1s;
    transition-timing-function: ease-in-out;

    overflow: hidden;
    }

        .Name{
            margin: 1vh 0rem 1vh 0rem;
                font-size: 2.3rem;
                font-weight: bold;
                text-overflow: ellipsis;  
                
        }


        .Price{
            margin: 1vh 0rem 1vh 0rem;
                font-size: 2rem;
                text-overflow:clip;
        }

        div.Text{
            margin-bottom: 1vh;
            font-size: 1em;
            
            align-self: flex-end;
            text-overflow: clip;
            overflow-y: auto;
            
        
        }


        .producte:hover .descBox{
            padding: 1.5rem; 
            width: 13vw;
            color: black;
            border: 2px solid black;
            border-left: 0px;
            border-bottom: 0px;
        }  
      
        .producte:hover .buyBox{
            z-index: 9;
            border: 2px solid black;
            border-top: 0px;
        }

        .producte:hover > img{
            
            border: 2px solid black; 
            border-bottom: 0px;
            border-right: 0px;
        }