@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Yeseva+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Philosopher:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html{
    background-color: rgb(237, 237, 237);
    font-family: 'Bree Serif',Sans-serif;
}

header{
    background-color: white;
    display:flex;
    justify-content: space-evenly;
    gap:2rem;
    align-items: center;
}

#Logo{
    display: inline-block;
    width: 20%;
    height: 20%;
    padding: 1rem;

}

.nav_element{
    display: inline;
    margin-inline: 1rem;
}

a{
    text-decoration: none;
}

.nav_link{
    font-size: 1.2rem;
    color:rgb(0,66,151);
    transition: border-bottom, color, 0.25s;
}

.nav_link:hover{
    border-bottom: 4px solid rgb(77, 154, 255);
    color:rgb(77, 154, 255);
}

.user{
    width: 1rem;
    height: auto;
    margin-inline: 0;
    padding-inline: 0;
}