main{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 195, 0);
}
a{
    text-decoration:none;
}
h3{
    display: inline;
    font-size: 30px;
}
.caja{
    
    display: inline;
    background-color: rgb(255, 214,0);   
    text-align: center;
    height: 450px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 5px 5px 40px; 
} 
.form-group{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
@media(max-width:480px){
    main{
        height: 55vh
    }
    #navegacion{
        text-align: center;
        background-color: white;
        flex-wrap: wrap;
        justify-content: center;
    }
    .caja{
        display: inline;
        background-color: rgb(255, 214,0);   
        text-align: center;
        height:  320px;
        width: 300px;
        border-radius: 7.5px;
        box-shadow: 2.5px 2.5px 20px; 
    } 
    .form-group{
        padding: 4px;
        display: flex;
        justify-content: space-between;
        gap: 1.5px;
    }
    ul {
    display: flex;
    }
    li {
    flex: 0 0 auto; 
    margin-right:1px; 
    }
}
@media(min-width:480px) and (max-width:992px){
    body{
        font-size: 30px;
    }
    h3{
        display: inline;
        font-size: 60px;
    }
    #navegacion{
        text-align: center;
        background-color: rgb(0, 150, 95);
        flex-wrap: wrap;
        justify-content: center;
    }
    .caja{
    
        display: inline;
        background-color: rgb(255, 214,0);   
        text-align: center;
        height: 450px;
        width: 550px;
        border-radius: 9px;
        box-shadow: 3px 3px 30px; 
    } 
    .form-group{
        padding: 6px;
        display: flex;
        justify-content: space-between;
        gap: 2px;
    }
    ul {
        display: flex;
        }
        li {
        flex: 0 0 auto; 
        margin-right:1px; 
        }
    a{
        font-size: 30px;
    }
}
@media(min-width:992px) and (max-width:1200px){
    body{
        font-size: 30px;
    }
    h3{
        display: inline;
        font-size: 45px;
    }
    #navegacion{
        text-align: center;
        margin-top:1rem;
        padding: 1rem;
        background-color: rgb(0, 150, 95);
    }
    .caja{
    
        display: inline;
        background-color: rgb(255, 214,0);   
        text-align: center;
        height: 400px;
        width: 380px;
        border-radius: 9px;
        box-shadow: 3px 3px 30px; 
    } 
    .form-group{
        padding: 6px;
        display: flex;
        justify-content: space-between;
        gap: 2px;
    }
}
@media(min-width:1200px){
    body{
        font-size: 25px;
    }
    h3{
        display: inline;
        font-size: 52px;
    }
    #navegacion{
        text-align: center;
        margin-top:1rem;
        padding: 1rem;
        background-color: white;
    }
    .caja{
    
        display: inline;
        background-color: rgb(255, 214,0);   
        text-align: center;
        height: 400px;
        width: 420px;
        border-radius: 9px;
        box-shadow: 3px 3px 30px; 
    } 
    .form-group{
        padding: 6px;
        display: flex;
        justify-content: space-between;
        gap: 2px;
    }
}