html{
    font-size: 16px;
    background: rgb(238, 238, 238);
    font-family: 'Roboto', sans-serif;
}

header{
    background: white;
}

#logo {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom:0.25rem ;
}



#navegacion{
    text-align: center;
    margin-top:1rem;
    padding: 1rem;
    background-color: rgb(0, 150, 95);
}

nav ul li{
    display: inline;
    font-size: 18px;
    border: 3px solid red;
    border-radius: 15px;
    background-color: aliceblue;
    margin:1rem;
    padding-left: 1vw;
    padding-right: 1vw;
}
nav a {
    text-decoration: none;
}





img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

