html{
  scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 2000px;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--second-color);
  text-align: center;
}

#grid-header{
  position: sticky;
  display: grid;
  grid-gap: 5px;
  grid-column: 1fr 2fr 1fr;

  grid-template-areas: 
    'logo .'
    'nav nav';  
  
}
#grid-logo{grid-area:logo;}
#sub-grid-logo{grid-area:nav;}

#sub-grid-logo{
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(minmax(200px, 1fr));
}

#inici {grid-area:inici;}

nav{

  display: flex;
  padding: 20px;
  background-color:yellowgreen;
  justify-content: space-between;
  
}
ul{
display: flex;

}

.barra-nav{
  justify-self: flex-end;
}

li{
  display:  inline-block;
  flex: 1;
  background-color: yellow;
  
}

.botton{
  font-weight: bold;
  display: inline-block;
 text-align: center;
 text-decoration: none;
 height: 100%;
 width: 100%;
}
.boton:hover{
  background-color: greenyellow;
}

/*.logo{
  max-width: 100%;
}
@media(max-width:480px){
  body{
      background-color: aqua;
  }
  .phone{
      display:flex;
  }
  .desktop{
      display:none;
  }
}
@media(min-width:480px) and (max-width:992px){
  body{
      background-color: greenyellow;
  }
  .tablet{
      display:flex;
  }

  .desktop{
      display:none;
  }
}
@media(min-width:992px) and (max-width:1200px){
  body{
      background-color: orchid;
  }
  .laptop{
      display:flex;
  }

  .desktop{
      display: none;
  }
}
*/

.pie-pagina{
width: 100%;
background-color: rgb(23, 23, 23);
}
.pie-pagina .grupo-1{
/* width: 100px; */
max-width: auto;
margin: auto;
display: grid;
grid-template-columns: repeat(3, 3fr);
grid-gap: 80px;
padding: 100px 30px;
justify-content: center;
/* align-items: center; */
color: white;
text-align: center
}
.pie-pagina .grupo-2{
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  width: auto;
}
